.page-home {
    
    &>:nth-child(2) {
        &>* {
            display: inline-block;
        }
        &>ol {
            overflow: hidden;
            &>li {
                position: absolute;
                height: 10px;
                width: 10px;
                border-radius: 10px;
                background: $color-dark;
                animation-duration: 2s;
                animation-name: slideout;
                animation-fill-mode: forwards;
            }
        }  
        @keyframes slideout {
            0% {
                transform: translateX(0);
                opacity: 1;
            }
            50% {
                transform: translateX(60vw);
                opacity: 1;
            }
            100% {
                transform: translateX(60vw);
                opacity: 0;
            }
        }
    }
}