$color-light: #eee;
$color-dark: #222;

body {
  background-color: $color-light;
  color: $color-dark;
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
  margin: 0;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  p,
  li {
    font-size: 1.5em;
  }

  em {
    font-weight: bold;
  }

  pre {
    font-family: 'Inconsolata';
  }

  main {
    margin: 0 10vw;
  }

  ol,
  li {
    list-style: none;
    padding: 0;
  }
}

@import 'pages/pages';
